textarea {
    width: 100%;
}
.error {
    background: #f77;
    color: #000;
    font-weight: bold;
}

div.jsonlisteditor {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid #444;
    border-radius: 1px;
    box-shadow: 0 0 1px #eee inset;
    margin: auto;
}
table {
    width: 100%;
    margin: auto;
}
tr.item td {
    padding: 0.2%;
}
tr.item input {
    width: 97%;
}
td.handle {
    width: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}
div.jsonlisteditor div.item {
    display: flex;
    flex-direction: row;
    padding: 0.4em;
}
.jsonlisteditor .item:nth-of-type(odd) {
    background: #eee;
}
.jsonlisteditor .item label {
    padding: 1em;
}
.handle {
    cursor: move;
    padding: 0.1em;
    color: #eee;
    vertical-align: middle;
    font-size: 2em;
    opacity: 0.8;
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #ddd;
}

#scrollbox {
    width: 80%;
    margin: auto;
    border: 1px solid #888;
    box-shadow: 0 0 0.1em #777 inset;
    border-radius: 0.4em;
    overflow-y: scroll;
    height: 60vh;
}

.section input {
    width: 100%;
    font-size: 2em;
}

input {
    width: 100%;
}
label {
    width: 100%;
    display: flex;
}

[draggable] {
      -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.item.moving {
    transform: translateX(20px);
    opacity: 0.7;
}
